@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Asap', sans-serif;
}


/* Header */

header {
  width: 100%;
  background-color: hsl(222, 82%, 21%);
  color: hsl(255, 100%, 100%);
  padding: 16px 32px;
}

header h1 {
  font-size: 2.3rem;
  margin: 0;
}


/* Main */

main {
  width: 100%;
  height: 100%;
  background-color: hsl(210, 14%, 95%);
  padding: 32px;
}

main h2 {
  margin: 0;
  font-size: 1.5rem;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-auto-rows: max-content;
  align-items: center;
  gap: 32px;
  padding: 24px 0;
}

.book {
  width: 100%;
  background-color: hsl(255, 100%, 100%);
  padding: 24px 32px;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 8px;
  position: relative;
}

.book p {
  margin: 0;
}

.book-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.book-author {
  margin-bottom: 12px;
}

.book-year, .book-pages, .book-status {
  color: hsl(0, 0%, 60%);
}

.btn-add {
  font-size: 4rem;
  background-color: rgba(255,255,255,0.4);
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  color: hsl(0, 0%, 40%);
  backdrop-filter: blur(10px);
  cursor: pointer;
  width: 90px;
  height: 90px;
}

.book-status {
  font-size: 0.9rem;
}

.status-container {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.status-toggle {
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
}

.status-toggle img {
  width: 100%;
  height: 100%;
}

.btn-remove {
  justify-self: end;
  font-family: inherit;
  font-size: 0.7rem;
  border: none;
  padding: 6px;
  border-radius: 8px;
  background-color: hsl(0, 100%, 40%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.btn-remove:hover {
  background-color: hsl(0, 100%, 47%);
}

.btn-remove img {
  width: 100%;
  height: 100%;
}


/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: hsl(210, 14%, 95%);
  padding: 32px;
  border-radius: 12px;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  align-items: center;
  width: 100%;
}

.modal h3 {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.add-book-form input[type="text"],
.add-book-form label,
.add-book-form button {
  font-size: 1.25rem;
  font-family: inherit;
}

.add-book-form input[type="text"] {
  padding: 12px;
  outline: none;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 8px;
  width: 350px;
}

.add-book-form input[type="text"]:focus {
  border: 2px solid hsl(0, 0%, 60%);
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  accent-color: black;
  margin-left: 8px;
}

.add-book-form button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: hsl(209, 58%, 49%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin-top: 16px;
  width: 100%;
}

.add-book-form button:hover {
  background-color: hsl(209, 58%, 65%);
}